:root {
  --black: #000000;
  --black-light: #2c2c2c;
  --primary: #6e6e6e;
  --gray-dark: #4b4b4b;
  --blue-light: #e5f4ff;
  --blue: #1473e6;
  --white: #ffffff;
}

* {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
